html {
  overflow-y: scroll;
}

* {
  box-sizing: border-box; /*padding and border are included in the width and height*/
}

body {
  background-color: #b6d7a8ff;
  font-family: Verdana;
}

/* .outline is any section of page with white curved-corner background */
.outline {
  border-radius: 15px;
  width: 90%;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: white;
  overflow: hidden;
}

.outline * {
  max-width: 100%;
}

/* top navigation start */
#top-nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

/* floats the list items left to line them up horizontally */
#top-nav ul li {
  float: left;
}

#top-nav ul li a img {
  max-height: 16px;
}

#top-nav ul li a {
  display: block;
  padding: 16px 16px;
  color: black;
  text-decoration: none;
}

#top-nav ul li a:hover {
  background-color: #dddddd;
}

#top-nav ul li p {
  padding-left: 1px;
  padding-right: 1px;
  color: black;
  text-decoration: none;
}

/* all body articles stuff starts */
.article_spacer { /* to pad inside body articles items */
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

article {
  text-align: center;
}

article img {
  border: solid;
}

/* footer stuff starts */
footer p {
  padding-left: 15px;
  text-align: center;
}

/* About page */
#links_list {
  list-style-type: none;
  padding: 0px;
}
